<div>
  <form (ngSubmit)="getSites()" [formGroup]="form">
      <label>
        <input type="text" class="form-control" id="url" formControlName="url" required  placeholder='{{default}}'>
        <input class="button" type="submit" >
      </label>
      <p>{{ output_text }}</p>
  </form>
</div>
<div>
	<ul class="sites">
	  <li *ngFor="let ip of ips; index as i">
	   <h3><!-- {{site.url}} at {{site.location}} --></h3>
	   <p class="code collapsible" (click)="toggleCollapse([i])" id="cont{{i}}"> {{response.html[ip]}}</p>
     <img src = {{site.img_url}}>
	  </li>
	</ul>
</div>
